#what .container {
    display: block;
    padding: 1rem;
}

#what .container .item {
    display: flex;
    text-align: left;
}

/* Position Icon */
#what .container .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Smartphones */
@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 1rem;
        text-align: center;
    }

    #navbar ul {
        padding: 0.5rem;
    }


    #showcase-content {
        top: 110px;
  }

  #who {
      display: block;
  }

  #who .who-img {
      display: none;
  }

  #clients .container img {
      width: 80%;
  }

  #clients .container div:last-child {
      display: none;
  }

  #contact {
      flex-direction: column;
  }
  #contact .map {
      height: 200px;
      border-top: 4px solid #333;
  }
}

@media(max-height: 568px) {

    #showcase .showcase-content {
        position: absolute;
        top: 0;
    }

    .l-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem;
    }
}